.AppMaintenance {
  text-align: center;
}

.App-logo_text {
  margin: 4vmin;
  height: 8vmin;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin: 8vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e1e8db;
  min-height: 100vh;
  display: flex;
  justify-content:left;
  flex-direction: column;
  align-items:center;
  font-size: calc(10px + 2vmin);
  color: #132a13;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
